/* Remove as margens e espaçamentos padrão de todos os elementos*/
*{
    margin: 0;
    padding: 0;
}
.fundo{
    /*mudar a cor de fundo usando cores misturadas*/
    background-image: radial-gradient(gray);
    /*vh quer dizer que ele vai pegar na vertical e na horizontal*/
    min-height:100vh; /* Mantemos o min-height para garantir a altura mínima */
    /*mudar a cor do texto */
    color: rgb(10, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    /*centralizar algum texto*/
    text-align:center; /* Podemos remover isso, pois o Flexbox cuidará do alinhamento */
    font-size: 1.5rem;
    display: flex; /* Tornamos o fundo um container Flexbox */
    flex-direction: column; /* Organiza os itens verticalmente (um embaixo do outro) */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente no meio da tela (opcional, mas útil para o layout inicial) */
}

.corpoCalc{
    /*o % que vc quer que fique da margem do topo*/
    margin-top: 20px; /* Ajustamos a margem superior para dar espaço entre o título e a calculadora */
    /*definir a posição do elemento*/
    /* Removendo a posição absoluta e transform para que o Flexbox controle o posicionamento */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: #02123365;/*a: trnasparecia de 0 a 1*/
    border-radius: 15px;/*arredondar as borda da calculadora*/
    padding: 15px;/*o espaço entre os numeros*/
}

.botao{
    width: 50px;/*largura*/
    height: 50px;/*altura*/
    font-size: 25px;/*tamanho da fonte dos texto*/
    cursor: pointer;/*ele mostra uma mãoziha*/
    /*margem*/
    margin: 3px;
    background-color: rgb(0, 0, 0);
    /*tirar as bordas */
    border: none;
    /*cor dos numeros*/
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.botao:hover{
    /*adicionar cor ao efeito dos botão*/
    background-color:rgb(68, 67, 67);
}
#resultado{
    background-color: #ffffff;
    width: 214px;/*largura*/
    height: 30px;/*altura*/
    margin: 5px;/*margem*/
    text-align: right;/*alinhar os textod*/
    padding: 5px;/*espaçamentos entre os elementos*/
}
